/SoftRhComprasModel/build/
/SoftRhComprasModel/dist/
/SoftRhComprasDA/build/
/SoftRhComprasDA/dist/
/SoftRhDBManager/dist/
/SoftRhDBManager/build/
/SoftRhPrendasDA/build/
/SoftRhPrendasDA/dist/
/SoftRhPrendasBO/build/
/SoftRhPrendasBO/dist/
/SoftRhUsuariosModel/build/
/SoftRhUsuariosModel/dist/
/SoftRhUsuariosBO/build/
/SoftRhUsuariosBO/dist/
/SoftRhUsuariosDA/build/
/SoftRhUsuariosDA/dist/
/SoftRhPrendasModel/dist/
/SoftRhPrendasModel/build/
/SoftRhTest/nbproject/private/
/SoftRhTest/build/
/SoftRhTest/dist/
/SoftRhComprasBO/build/
/SoftRhComprasBO/dist/
/SoftRhWS/build/
/SoftRhWS/dist/
