<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TrabajadorWSPortBinding" />
                <binding name="AdministradorWSPortBinding" />
                <binding name="CuponWSPortBinding" />
                <binding name="PrendaWSPortBinding" />
                <binding name="PromocionWSPortBinding" />
                <binding name="DireccionWSPortBinding" />
                <binding name="ClienteWSPortBinding" />
                <binding name="UsuarioWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftRHWS/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="Servicios.UsuarioWS" name="UsuarioWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/TrabajadorWS"
                binding="basicHttpBinding" bindingConfiguration="TrabajadorWSPortBinding"
                contract="Servicios.TrabajadorWS" name="TrabajadorWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/AdministradorWS"
                binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
                contract="Servicios.AdministradorWS" name="AdministradorWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/CuponWS" binding="basicHttpBinding"
                bindingConfiguration="CuponWSPortBinding" contract="Servicios.CuponWS"
                name="CuponWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/PrendaWS" binding="basicHttpBinding"
                bindingConfiguration="PrendaWSPortBinding" contract="Servicios.PrendaWS"
                name="PrendaWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/PromocionWS"
                binding="basicHttpBinding" bindingConfiguration="PromocionWSPortBinding"
                contract="Servicios.PromocionWS" name="PromocionWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/DireccionWS"
                binding="basicHttpBinding" bindingConfiguration="DireccionWSPortBinding"
                contract="Servicios.DireccionWS" name="DireccionWSPort" />
            <endpoint address="http://localhost:8080/SoftRHWS/ClienteWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
                contract="Servicios.ClienteWS" name="ClienteWSPort" />
        </client>
    </system.serviceModel>
</configuration>